/*header title*/
header{
    text-align: center;
    font-size:25px;
}

/*first section*/
@media (min-width: 768.98px){
#one{
    width:100vw;
    height:100vh;
    background-image:url("../background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
}

#one_box1{
    width:100px;
    height:70px;
    background-color:greenyellow;
    border:2px solid burlywood;
    box-shadow:10px 10px burlywood;
}

#one_box2{
    width:100px;
    height:70px;
    background-color:white;
    position:absolute;
    left:100px;
    border-radius:5px;
    border:2px solid burlywood;
    box-shadow:10px 10px burlywood;
}

#one_box3{
    width:100px;
    height:70px;
    background-color:greenyellow;
    position:absolute;
    left:200px;
    top:515px;
    border:2px solid burlywood;
    box-shadow:10px 10px burlywood;
    
    
}

#one_box4{
    width:100px;
    height:70px;
    background-color:rgba(0,255,0,0.5);
    position: absolute;
    left:300px;
    top:590px;

}

/*table section*/
#table_forms{
    margin-top: 15px;
}

table,td,tr,th{
    border:2px solid black;
    border-collapse: collapse;
    padding: 10px;
    width:100%;
}

.tab{
    height:350px;
}

#table{
   
    float:left;
    width:48%;
    background-color:bisque;
}

/*form section*/
#form{
float:right;
border:1px solid black;
width:48%;
background-color:bisque;
height:350px;
}

.formin{
    padding:10px;
}

.ipt{
    float:right;
    width:500px;
    padding:2px;
    select: none;
    border-radius:5px;
}

.gendervalues{
 display:inline-block;
 margin-left:40px;

}

.check{
    float:left;
}

.sub{
    width:100%;
    margin-bottom:10px;
    background-color: forestgreen;
    padding:10px;
}

.btn{
    width:100%;
    background-color:forestgreen;
    padding:10px;

}

label{
    padding-right:10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media (max-width: 767.98px) { 
    #one{
        width:100vw;
        height:100vh;
        
        background-color:blue
    }
}
